mixin checkbox(title='',subtitle='',mainClasses="", isRich=0, idPrefix, checked, ...labels)
	if title=="" && subtitle==""
		- mainClasses+=' element_nullgap';
	-var boxClasses="checkbox";
	if isRich
		-boxClasses+=" checkbox_rich";
	.element(class=mainClasses)
		span.element__title=title
		span.element__subtitle=subtitle
		ul.element__body.element__list
			each val, index in labels
				-var isChecked;
				if checked[index]=='1'
					-isChecked="checked"
				else 
					-isChecked=null
				li(class=boxClasses)
					input.checkbox__input(type="checkbox" id=idPrefix+ (index+1) checked=isChecked)
					if isRich
						-var attrName='data-subtext-'+(index+1)
						label.checkbox__label(for=idPrefix+(index+1))
							span.checkbox__label_rich-title=val
							span.checkbox__label_rich-text=attributes[attrName]
					else
						label.checkbox__label(for=idPrefix+(index+1))=val

