mixin radio(title='',subtitle='',mainClasses="", idPrefix, radioName, checked, ...labels)
	if title=="" && subtitle==""
		- mainClasses+=' element_nullgap';
	.element(class=mainClasses)
		span.element__title=title
		span.element__subtitle=subtitle
		.element__body.line
			each val, index in labels
				-var isChecked;
				if checked[index]=='1'
					-isChecked="checked"
				else 
					-isChecked=null
				.radio
					input.radio__input(type="radio" name=radioName id=idPrefix+ (index+1) checked=isChecked)
					label(for=idPrefix+ (index+1)).radio__label= val