extends ../../../library/templates/base.pug
block title
	title "UI Kit: Headers&Footers"
block styles
	link(rel="stylesheet" href="headers-footers.css")
block body
	.page
		img.page__logo(src="../../../src/img/logo.svg")
		.page__container
			.header
				header.header__wrapper
					img.header__logo(src="../../../src/img/logo and title.svg")
					nav.menu.header__menu
						- var h_menu = ['Home' ,'About us', 'Services', 'Careers', 'News', 'Documentation']
						each val in h_menu
							case val
								when 'Home'
									a.menu__elem.menu__elem_current= val
								when 'Services'
									a.menu__elem.menu__elem_spoiler= val
								default
									a.menu__elem= val
					.header__buttons
						button.button.header__button-login.button_white Login
						button.button.header__button-reg.button_purple Register
			.header
				header.header__wrapper
					img.header__logo(src="../../../src/img/logo and title.svg")
					nav.menu.header__menu
						each val in h_menu
							case val
								when 'Home'
									a.menu__elem.menu__elem_current= val
								when 'Services'
									a.menu__elem.menu__elem_spoiler= val
								default
									a.menu__elem= val
					a.header__link Cosmin Negoita
			.footer
				footer.footer__wrapper.footer_full
					.footer__logoandtext.footer__logoandtext_start
						img(src="../../../src/img/logo and title.svg")
						p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
					nav.menu.footer__menu
						- var f_menu = ['Navigation', 'About us', 'News', 'Support', 'Products', 'About us', 'Who we are', 'Our team', 'Careers', 'Investors', 'Support', 'Documentation', 'Community', 'Get in Touch']
						each val, index in f_menu
							case index
								when 0
									a.menu__elem.menu__elem_title= val
								when 5
									a.menu__elem.menu__elem_title= val
								when 10
									a.menu__elem.menu__elem_title= val
								default
									a.menu__elem= val
					form.form.footer__form
						.form__title Subscribe to our newsletter
						p.form__text Receive our latest news and promotions in your inbox!
						.form__text-submit.input
							input(type='email' placeholder='Your email adress').input__textfield
							input(type='image' src='../../../src/img/arrow_forward.svg').input__submit
					.footer__copyright 
						p Copyright © 2018 Toxin UI Kit. All rights reserved.
						.social
							img(src="../../../src/img/twitter.svg")
							img(src="../../../src/img/facebook.svg")
							img(src="../../../src/img/instagram.svg")
			.footer
				footer.footer__wrapper.footer_min
					.footer__logoandtext.footer__logoandtext_center
						img(src="../../../src/img/logo and title.svg")
						p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
					.social
						img(src="../../../src/img/twitter.svg")
						img(src="../../../src/img/facebook.svg")
						img(src="../../../src/img/instagram.svg")