extends ../../../library/templates/base.pug
block title
	title "UI Kit: Headers&Footers"
block styles
	link(rel="stylesheet" href="headers-footers.css")
block body
	.page
		img.logo.page__logo(src="../../../src/img/logo.svg")
		.container.page__container
			header.header
				img.logo.header__logo(src="../../../src/img/logo and title.svg")
				nav.menu.header__menu.text.text_Body.text_lh17.text_opacity50
					- var h_menu = ['Home' ,'About us', 'Services', 'Careers', 'News', 'Documentation']
					each val in h_menu
						case val
							when 'Services'
								a.menu__elem.menu__elem_spoiler= val
							default
								a.menu__elem= val
				.header__buttons
					a.button.header__button-login.button_white.text_H3 Login
					a.button.header__button-reg.button_purple.text_H3  Register
			header.header
				img.logo.header__logo(src="../../../src/img/logo and title.svg")
				nav.menu.header__menu
					each val in h_menu
						case val
							when 'Services'
								a.menu__elem.menu__elem_spoiler= val
							default
								a.menu__elem= val
				a.header__last-link Cosmin Negoita
			footer.footer
				- var f_menu = ['Navigation', 'About us', 'News', 'Support', 'Products', 'About us', 'Our team', 'Careers', 'Investors', 'Support', 'Docimentation', 'Community', 'Get in Touch']
				img.logo.footer__logo(src="../../../src/img/logo and title.svg")
				.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				nav.menu.footer__menu
					each val in f_menu
						a.menu__elem= val
				.form.form_subscribe.footer__form
				.footer__copyright
				.footer__social
			footer.footer
				img.logo.footer__logo(src="../../../src/img/logo and title.svg")
				.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.form.form_subscribe.footer__form
				.footer__social