include ../expandable-list/expandable-list.pug
mixin menu(type)
	- 
		var h_menu = [
			{type: 'current', text: 'О нас', href:'#'},
			{type: 'submenu', text:'Услуги', href:'#', submenu: [
				{text:'Услуга 1', href:'#'},
				{text:'Услуга 2', href:'#'},
				{text:'Услуга 3', href: '#'}
				]},
			{type: 'default', text:'Вакансии', href:'#'}, 
			{type: 'default', text:'Новости', href:'#'}, 
			{type: 'submenu', text:'Соглашения', href:'#',submenu: [
				{text:'Соглашение 1', href:'#'},
				{text:'Соглашение 2', href:'#'},
				{text:'Соглашение 3', href:'#'}
				]}
			]
	- 
		var f_menu = [
			{name: 'Навигация', href:'#', submenu: [
				{text:'О нас', href:'#'},
				{text:'Новости', href:'#'},
				{text:'Служба поддержки', href:'#'},
				{text:'Услуги', href:'#'}
				]},
			{name: 'О нас', href:'#', submenu: [
				{text:'О сервисе', href:'#'},
				{text:'Наша команда', href:'#'},
				{text:'Вакансии', href:'#'},
				{text:'Инвесторы', href:'#'}
				]},
			{name: 'Служба поддержки', href:'#', submenu: [
				{text:'Соглашения', href:'#'},
				{text:'Сообщества', href:'#'},
				{text:'Связь с нами', href:'#'}
				]}
			]
	if type=="header"
		.header__burger
			span
		nav.menu.header__menu
			each val in h_menu
				case val.type
					when 'current'
						.menu__elem.menu__elem_current
							a(href=val.href)= val.text
					when 'submenu'
						+expandable-list(val.text,0,0)(class="menu__elem menu__elem_spoiler")
							each point in val.submenu
								li.menu__elem
									a(href=point.href)= point.text
					default
						.menu__elem
							a(href=val.href)= val.text
	else 
		if type=='footer'
			nav.menu.footer__menu
				each val in f_menu
					+expandable-list(val.name,1,1)(class="footer__title lock")
						//a.menu__elem.menu__elem_title(href=val.href)= val.name
						//ul.menu__f-submenu
						each point in val.submenu
							li.menu__elem
								a(href=point.href)= point.text